/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.section {
  padding: 30px 0 0 0;
}
.link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.add-task {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-task__form {
  display: flex;
}

/* Heading */
.heading {
  display: block;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 0 0 10px 0;
  margin: 0;
  text-transform: uppercase;
}
.input{
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}
.input:focus {
  color: #333;
}

/* Task list */
.tasklist {
  margin: 0;
  padding: 0px;
}
.task {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task__checkbox {
  margin: 0 10px;
}
.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  display: inline-block;
  flex-grow: 1;
}

.btn {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

.btn-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasklist__completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input {
  display: none;
}

.task__editmode .task__input {
  display: inline-block;
}

.task__editmode .task__label {
  display: none;
}
